{% extends 'base.html.twig' %}
{% block title %}New Article
{% endblock %}

{% block body %}


	{{ form_start(form, {'attr': {'class': 'form-article'}}) }}
	<h1>Crée un nouvel article</h1><br>
	{{ form_widget(form) }}
	<button type="submit">Créer</button>
	{{ form_end(form) }}


{% endblock %}
